<table width="100%">
  <tr>
    <td></td>
    <td width="500">
      <table width="100%">
        <tr>
          <td align="center">
            <img src="https://icokebrasil.s3.sa-east-1.amazonaws.com/brasal-logo.png" alt="Brasal Refrigerantes" />
          </td>
        </tr>
        <tr>
          <td>
            <h2>Bem-vindo ao iCoke</h2>
            Olá {{name}}
            <br />
            Use o token <strong>{{email_token_verification}}</strong> para fazer sua autenticação no aplicativo Icoke
            <br />
            <div>
                <p style="margin:0">Muito obrigado</p>
                <p style="margin:0"><strong>Brasal Refrigerantes</strong></p>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td></td>
  </tr>
</table>
